/* Main */ 
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0; /* Light gray background */
  color: #333; /* Dark gray text */
  margin: 0;
  padding: 0;
}

header {
  background-color: #336699; /* Medium blue header */
  color: #fff; /* White text */
  border-bottom: 2px solid #ccc;
  padding: 10px;
}

.main-title {
  font-size: 2em;
  margin-left: 20px;
}

.wrapper {
  display: flex;
  background-color: transparent;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  padding: 20px;
}

aside {
  width: 200px;
  background-color: #f0f0f0; /* Light gray background for side menu */
  color: #333; /* Dark gray text */
  border-right: 2px solid #ccc;
  padding: 10px;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside ul li a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

aside ul li a:hover {
  background-color: #e6e6e6; /* Lighter gray for hover effect */
}

main {
  flex: 1;
  padding: 10px;
  background-color: #fff; /* White background for content area */
}

#markdown-container {
  font-family: inherit;
  line-height: inherit;
}

footer {
  background-color: #336699; /* Medium blue footer */
  color: #fff; /* White text */
  border-top: 2px solid #ccc;
  text-align: center;
}


input {
    margin: 10px;
    padding: 5px;
    width: 150px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    margin-top: 20px;
    text-align: left;
    max-height: 400px;
    overflow-y: auto;
}


#output {
  background-color: #f0f0f0; /* Light gray background */
  color: #999; /* Light gray text for placeholder */
  padding: 10px; /* Add some padding */
  border: 1px solid #ccc; /* Optional border */
  font-style: italic; /* Optional italic text for placeholder */
  text-align: center; /* Optional text alignment */
}
