
<div class="container">
  <div class="row">
    <div class="col content">
      <div class="row">

        <div class="col sidebar2">
          {% if site.twitter_username %}
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa fa-twitter"></i> Twitter
          </a>
          {% endif %}
        </div>

        <div class="col sidebar2">
          {% if site.github_username %}
          <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github"></i> GitHub
          </a>
          {% endif %}
        </div>

        <div class="col sidebar2">
          <p class = "desc">Copyright 2016 by Jon Starnes</p>
        </div>

      </div><!--/row -->
    </div><!--/container -->
  </div>
</div>
