
<div class="footer">
  <div class="row">

    <div class="col sidebar1">
      <p></p>
    </div>

    <div class="col sidebar1">
      <p class = "desc">Copyright 2016 by {{ site.title }}
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </p>
    </div>

    <div class="col sidebar1">
      <p class = "desc">
        {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-twitter"></i> Twitter
        </a>
        {% endif %}

        {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-github"></i> GitHub
        </a>
        {% endif %}
        <br>
        {{ site.description }}
      </p>
    </div>

  </div><!--/row -->
</div><!--/container -->
