<div class="container">
  <div class="row">
    <div class="col content1">
      <div class="row">

        <div class="col feature">
          <p class="social">
            <iframe src="http://ghbtns.com/github-btn.html?user=mourner&amp;repo=dead-simple-grid&amp;type=watch&amp;count=true" width="84" height="20"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=mourner&amp;repo=dead-simple-grid&amp;type=fork&amp;count=true" width="84" height="20"></iframe>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://github.com/mourner/dead-simple-grid" data-text="Dead Simple Grid — a 250-byte responsive CSS grid framework that is just that. Dead simple." data-related="LeafletJS">Tweet</a>
          </p>
        </div>

        <div class="col feature">
          <p class = "desc">Copyright 2016 by Jon Starnes</p>
        </div>

      </div>
    </div>
  </div>
</div>
