<aside>
	<div class="container">
		<nav>
			<ul>
				{% for page in site.pages %} {% if page.categories %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}
				<li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>

				<li>
					<a href="https://jon-starnes.github.io">Home</a>
				</li>
			</ul>
	</ul>
</nav>
</div>
</aside>

<header>
	<!--<h3><a href="{{ site.baseurl }}">{{ site.title }}</a></h3> -->
	<h3><i>
		{% for post in site.categories['quote'] limit:1 %}
			{{ quote.content }}
		{% endfor %}
	</i></h3>



</header>
