$content-width: 99%;
$main: #FCFAFA;
/* $font-style: 'Open Sans', sans-serif; */
$font-color: #0D1B1E;
$link-color: #778DA9;
$link-hover-color: #A4B8C4;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #474647;
$light:  	#778DA9; /* #E7EDF4; */
$header:  #C8D3D5; /* #1D1425; */
$blockquote: #DEA54B;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
