$content-width: 99%;
$main: #E2FCEF; /* #FCFAFA; */
$font-style: 'Open Sans', sans-serif;
$font-color: #40434E;
$link-color: #23B5D3;
$link-hover-color: #20FC8F; /* middle blue green */
$heading-font: 'Muli', sans-serif;
$heading-font-color: #696D7D;
$light:  	#C1CFDA; /* #E7EDF4; */
$header:  #40434E; /* #1D1425; */
$blockquote: #C1CFDA;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
