$content-width: 99%;
$main: #E0E1DD;
/* $font-style: 'Open Sans', sans-serif; */
$font-color: #262626;
$link-color: #778DA9;
$link-hover-color: #F2CEE6;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #474647;
$light:  	#778DA9; /* #E7EDF4; */
$header:  #474647; /* #1D1425; */
$blockquote: #DEA54B;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
